@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-display: 'Playfair Display', serif;
  --font-sans: 'Inter', sans-serif;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  color: var(--text);
  background-color: var(--background);
  font-family: var(--font-sans);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-display);
  font-weight: 600;
  color: var(--primary);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
